<% name = "#{@person.honorific} #{@person.first_name} #{@person.last_name}" %>
<% display_name = (@person.suffix.nil?) ? name : "#{name}, #{@person.suffix}" %>

<section>
  <h1><%= display_name %></h1>
  <ul>
    <li><a href="<%= @person.ttus_email %>"><%= @person.ttus_email %></a></li>
    <li><%= @person.ttus_phone %></li>
  </ul>
</section>
